:root {
  --primary-color: #2e2d40;
  --secondary-color: #6078ed;
  --secondary-color-darker: #4c5fbe;
  --light-color: #fafafb;
}

html {
  color: var(--primary-color);
  background: var(--light-color);
  font-family: sans-serif;
}

body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.output {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.button {
  background: var(--secondary-color);
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.button:hover {
  background: var(--secondary-color-darker);
}

.break {
  color: var(--secondary-color-darker);
}
